@font-face {
	font-family: Inter;
	src: url(./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf)
}

@font-face {
	font-family: IBM;
	src: url(./fonts/IBM\ Plex\ Sans/IBMPlexSans-Regular.ttf)
}

.sticky-offset {
	top: 1%;
}
.inter {
	font-family: Inter;
}

.ibm {
	font-family: IBM;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

* {
	background-color: #1B2A41;
}

.background-color {
	background-color: #1B2A41;
}

.header-text {
	color: #E8E6F4;
	font-family: Inter;
}

.header-text:hover {
	color: white;
}

.title {
	color: #E8E6F4;
	font-family: Inter;
	max-width: 85%;
	font-size: 69px;
}

.fixed-bottom {
	margin-bottom: 1%;
}

.prop-heading:hover {
	background-color: #243857;
	color: white;
}

.navbar-brand {
	padding-left: 10px;
	padding-right: 10px;
	transition: 0.3s;
}
.navbar-brand:hover {
	color: white;
}

.sub-text {
	color: #CCC9DC;
	font-family: IBM;
}

.prop-heading {
	color: #CCC9DC;
	font-family: IBM;
	font-weight: 400;
	font-size: 25px;
	transition: 0.3s;
}

.prop-heading:hover > a {
	color: white;
}

.jumbotron {
	margin-top: 15%;
}

.staffing {
	color: #8fe5e5;
	transition: 0.3s;
}

.stringing {
	color: #629ae9;
	transition: 0.3s;
}

.whipping {
	color: #ada4ec;
	transition: 0.3s;
}

a:hover {
	text-decoration: none;
	color: #d7d6e2;
	transition: 0.3s;
}

@media (min-width: 700px) {
	.jumbotron {
		margin-top: 10%;
	}

	.title {
		color: #E8E6F4;
		font-family: Inter;
		max-width: 85%;
		font-size: 80px;
	}
}

@media (min-width: 900px) {
	
	.jumbotron {
		margin-top: 6%;
	}

}

@media (min-width: 1200px) {
	.jumbotron {
		margin-top: 10%;
	}
}