.heading-text {
	color: white;
	font-weight: 350;
	font-family: Inter;
	padding: 10px;
}

.description {
	color: #E8E6F4;
	font-size: 16px;
	max-width: 100%;
	margin: 0 auto;
}

.white-60 {
	border-color: white;
	width: 80%;
}

.easy {
	color: #618B4A;
}

.medium {
	color: #ad9900;
}

.hard {
	color: #F57200;
}

.expert {
	color: #D64933;
}

.god {
	color : #000000;
}

.staffing {
	color: #d43a22;
}

.stringing {
	color: #5cbe3e;
}

.whipping {
	color: #a048f1;
}

.list-info {
	margin-bottom: 3px;
}

.other-moves {
	color: #CCC9DC;
	font-family: IBM;
	font-weight: 400;
	font-size: 20px;
	transition: 0.3s;
}

.other-moves:hover {
	background-color: #243857;
	color: white;
}

.container-fluid {
	margin: 0 auto;
}

.list-head {
	color: white;
	font-weight: 350;
	font-family: Inter;
	font-size: 24px;
	margin-bottom: 10px;
	margin-left: 15px;
	text-align: left;
}

.list-text {
	font-size: 20px;
	margin-left: 10%;
	line-height: 0.8;
	color: white;
	font-weight: 380;
	font-family: Inter;
	text-align: left;
}

ul {
	padding-left: 0;
	color: #CCC9DC;
	line-height: 1.2;
}

.row {
	max-width: 100%;
	margin-top: 20px;
}

.related-moves {
	max-width: 100%;
	text-align: center;
}

.container-fluid {
	padding-right: 0;
}

h3 {
	margin-bottom: 0;
}

.video {
	width: 100%;
	height: 49.1vw;
}

@media (min-width: 575px) {
	.video {
		width: 100%;
		height: 29vw;
	}
}

@media (min-width: 900px) {
	.description {
		max-width: 80%;
		font-size: 19px;
	}

	.video {
		width: 100%;
		height: 30vw;
	}
}

@media (min-width: 1000px) {
	.video {
		width: 80%;
		height: 24.8vw;
	}
}

@media (min-width: 1200px) {
	.description {
		max-width: 70%;
		font-size: 20px;
	}

	.video {
		width: 80%;
		height: 25.2vw;
	}
}