.heading-text {
	color: white;
	font-weight: 350;
	font-family: Inter;
}

.description {
	color: #E8E6F4;
	font-size: 20px;
	max-width: 80%;
	margin: 0 auto;
}

.caption {
	color: #E8E6F4;
	font-size: 24px;
	max-width: 80%;
	margin: 0 auto;
}

.masterlist-image {
	margin: 0 auto;
	margin-bottom: 0;
	border-radius: 5px;
	width: 80%;

	transition:0.5s;
}

.list-header {
	font-size: 20px;
	color: white;
	text-align: center;
}

.list-info {
	font-size: 18px;
	color: #E8E6F4;
}

.channel {
	color: #CCC9DC;
	font-family: IBM;
	font-weight: 400;
	font-size: 18px;
	transition: 0.3s;
}

.channel:hover {
	background-color: #243857;
	color: white;
}

.channel:hover > a {
	color: white;
}

.channel-header {
	text-align: center;
}

.recommendedChannel {
	font-size: 20px;
}

.list-info {
	margin-bottom: 5px;
	max-width: 90%;
	font-weight: 350;
	font-size: 18px;
}

hr {
	border-color: white;
	max-width: 95%;
}

ul {
	text-align: center;
}

@media (min-width: 700px) {
	.list-header {
		font-size: 22px;
	}

	.list-info {
		font-size: 20px;
	}

	.masterlist-image {
		margin: 0 auto;
		border-radius: 13px;
		width: 60%;
	
		transition:0.5s;
	}
	
	.masterlist-image:hover {
		width: 30%;
		filter: brightness(50%);
	}

	ul {
		margin-left: 3%;
		text-align: left;
	}

	.list-header {
		text-align: left;
		margin-left: 2%;
	}
}

@media (min-width: 900px) {
	.list-header {
		font-size: 23px;
	}

	.list-info {
		font-size: 21px;
	}

	.masterlist-image {
		margin: 0 auto;
		border-radius: 15px;
		width: 50%;
	
		transition:0.5s;
	}
	
	.masterlist-image:hover {
		width: 51%;
	}

	ul {
		margin-left: 2%;
	}
}

@media (min-width: 1200px) {
	.list-header {
		font-size: 24px;
	}

	.list-info {
		font-size: 22px;
	}

	.masterlist-image {
		margin: 0 auto;
		border-radius: 17px;
		width: 30%;
	
		transition:0.2s;
	}
	
	.masterlist-image:hover {
		width: 30%;
		filter: brightness(50%);
	}
}