.heading-text {
	color: white;
	font-weight: 350;
	font-family: Inter;
}

.list-group-item {
	background-color: #1B1A19;
	max-width: 60%;
	transition: 0.5s;
	border: 1px solid #5757578c !important;
	margin-bottom: 5px;
	border-radius: 15px !important;
}


.list-group-item > h3 {
	background-color: #1B1A19;
	
	transition: 0.5s;
}

.list-group-item:hover {
	background-color: #222222;
	border: 1px solid #838383 !important;
}

.list-group-item:hover > h3 {
	background-color: #222222;
}

.item {
	color: white;
	margin: 0;
	width: 100%;
}

.form-inline {
	margin: 0 auto;
}

.form-control {
	margin-left: auto;
	text-align: center;
}

h3 {
	color: white;
	font-weight: 450;
	font-family: Inter;
	font-size: 20px;
	background-color: #1B1A19;
}

ul {
	padding: 0;
}

li {
	margin-bottom: 3px;
}

.centerA {
	display: flex;
	justify-content: center;
}

@media (min-width: 900px) {
	.list-group-item {
		max-width: 40%;
	}
}

@media (min-width: 1200px) {
	.list-group-item {
		max-width: 30%;
	}
}