#myInput {
	background-image: url('/css/searchicon.png'); /* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
	/* Remove default list styling */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myUL li a {
	border: 1px solid #ddd; /* Add a border to all links */
	margin-top: -1px; /* Prevent double borders */
	background-color: #f6f6f6; /* Grey background color */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove default text underline */
	font-size: 18px; /* Increase the font-size */
	color: black; /* Add a black text color */
	display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
	background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.heading-text {
	color: white;
	font-weight: 350;
	font-family: Inter;
}

.list-group-item {
	background-color: #1B2A41;
	max-width: 60%;
	transition: 0.5s;
	border: 1px solid #3b485c !important;
	margin-bottom: 5px;
	border-radius: 15px !important;
}


.list-group-item > h3 {
	background-color: #1B2A41;
	
	transition: 0.5s;
}

.list-group-item:hover {
	background-color: #3a3a3a;
	border: 1px solid #dfdbf7 !important;
}

.list-group-item:hover > h3 {
	background-color: #3a3a3a;
}

.item {
	color: white;
	margin: 0;
	width: 100%;
}

.form-inline {
	margin: 0 auto;
}

.form-control {
	margin-left: auto;
	text-align: center;
}

h3 {
	color: white;
	font-weight: 450;
	font-family: Inter;
	font-size: 20px;
	background-color: #1B2A41;
}

ul {
	padding: 0;
}

li {
	margin-bottom: 3px;
}

.centerA {
	display: flex;
	justify-content: center;
}

@media (min-width: 900px) {
	.list-group-item {
		max-width: 40%;
	}
}

@media (min-width: 1200px) {
	.list-group-item {
		max-width: 30%;
	}
}